#sc {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;

    margin: 10px;
}

#sc button {
    align-self: center;
    height: 25px;
}

#sc ul {
    width: 100%;
    padding: 0px;
    list-style-type: none;
}

#sc ul>div {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    background-color: ghostwhite;
}

#sc ul li {
    padding: 10px;
    /*background-color: ghostwhite;*/
    cursor: pointer;
}


#sc ul>div:hover {
    background-color: #00d6b2;
}


#sc ul>div>button {
    color: black;
}
#sc ul>div>button[disabled] {
    color: gray;
}
